#container {
  position: relative;
  margin: auto;
  height: 50vw;
  width: 50vw;
  background: url("/clock.png") no-repeat;
  background-size: 100%;
}
#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 15px;
  transform-origin: bottom;
}
#hour {
    height: 24%;
    width: 1.8%;
    left: 48.7%;
    top: 27%;
    
}
#minute {
    height: 32%;
    width: 1.5%;
    left: 48.7%;
    top: 19%;
    
}
#second {
    height: 38%;
    width: 1.0%;
    left: 49.2%;
    top: 12%;
    background-color: red;
  
}
